In [94]:
import numpy as np
import pandas as pd

In [95]:
df= pd.read_csv('house_prices.csv')

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              187531 non-null  int64
 1   Title              187531 non-null  object
 2   Description        184508 non-null  object
 3   Amount(in rupees)  187531 non-null  object
 4   Price (in rupees)  169866 non-null  float64
 5   location           187531 non-null  object
 6   Carpet Area        106858 non-null  object
 7   Status             186916 non-null  object
 8   Floor              180454 non-null  object
 9   Transaction        187448 non-null  object
 10  Furnishing         184634 non-null  object
 11  facing             117298 non-null  object
 12  overlooking        106095 non-null  object
 13  Society            77853 non-null   object
 14  Bathroom           186703 non-null  object
 15  Balcony            138596 non-null  object
 16  Car Parking        84174 non-null   object
 17  Ownership          122014 non-null  object
 18  Super Area         79846 non-null   object
 19  Dimensions         0 non-null       float64
 20  Plot Area          0 non-null       float64
dtypes: float64(3), int64(1), object(17)
memory usage: 30.0+ MB

In [97]:
df.shape

(187531, 21)

In [98]:
df.isna().sum()

Index                     0
Title                     0
Description            3023
Amount(in rupees)         0
Price (in rupees)     17665
location                  0
Carpet Area           80673
Status                  615
Floor                  7077
Transaction              83
Furnishing             2897
facing                70233
overlooking           81436
Society              109678
Bathroom                828
Balcony               48935
Car Parking          103357
Ownership             65517
Super Area           107685
Dimensions           187531
Plot Area            187531
dtype: int64

In [99]:
df.drop(['overlooking','Society','Car Parking','Super Area','Dimensions','Plot Area'],axis=1,inplace=True)

In [100]:
df.drop(['Carpet Area','facing'],axis=1,inplace=True)

In [101]:
df =df.dropna(subset=['Price (in rupees)'])

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169866 entries, 0 to 187530
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              169866 non-null  int64
 1   Title              169866 non-null  object
 2   Description        166983 non-null  object
 3   Amount(in rupees)  169866 non-null  object
 4   Price (in rupees)  169866 non-null  float64
 5   location           169866 non-null  object
 6   Status             169271 non-null  object
 7   Floor              163023 non-null  object
 8   Transaction        169860 non-null  object
 9   Furnishing         167806 non-null  object
 10  Bathroom           169112 non-null  object
 11  Balcony            124804 non-null  object
 12  Ownership          111629 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 18.1+ MB

In [103]:
df['Price (in rupees)'].isna().sum()

0

In [104]:
df.head()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Status,Floor,Transaction,Furnishing,Bathroom,Balcony,Ownership
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,Ready to Move,10 out of 11,Resale,Unfurnished,1,2,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,Ready to Move,3 out of 22,Resale,Semi-Furnished,2,NaN,Freehold
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,Ready to Move,10 out of 29,Resale,Unfurnished,2,NaN,Freehold
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,Ready to Move,20 out of 42,Resale,Unfurnished,2,NaN,Co-operative Society
5,5,1 BHK Ready to Occupy Flat for sale in Virat A...,Creatively planned and constructed is a 1 BHK ...,45 Lac,6618.0,thane,Ready to Move,2 out of 7,Resale,Unfurnished,1,1,Co-operative Society

In [105]:
df['Amount(in rupees)'].str.split(' ').str.get(1)

0         Lac
1         Lac
2          Cr
4          Cr
5         Lac
         ...
187526    Lac
187527    Lac
187528    Lac
187529    Lac
187530     Cr
Name: Amount(in rupees), Length: 169866, dtype: object

In [106]:
df =df.reset_index(drop=True)

In [107]:
drop = df['Amount(in rupees)'].str.split(' ').str.get(1)=='for'
dropped = pd.Series(drop)
df = df[~dropped]

In [108]:
def multiply(amount):
    if 'Cr' in amount:
        numeric_part = amount.replace('Cr', '').strip()  # Remove 'Cr' and any extra spaces
        numeric_value = float(numeric_part)
        return numeric_value * 10000000
    if 'Lac' in amount:
        numeric_part = amount.replace('Lac', '').strip()
        numeric_value = float(numeric_part)
        return numeric_value * 100000
    else:
        return amount

In [109]:
df['Amount(in rupees)'] = df['Amount(in rupees)'].apply(multiply)

In [110]:
df.head()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Status,Floor,Transaction,Furnishing,Bathroom,Balcony,Ownership
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",4200000.0,6000.0,thane,Ready to Move,10 out of 11,Resale,Unfurnished,1,2,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,9800000.0,13799.0,thane,Ready to Move,3 out of 22,Resale,Semi-Furnished,2,NaN,Freehold
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,14000000.0,17500.0,thane,Ready to Move,10 out of 29,Resale,Unfurnished,2,NaN,Freehold
3,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",16000000.0,18824.0,thane,Ready to Move,20 out of 42,Resale,Unfurnished,2,NaN,Co-operative Society
4,5,1 BHK Ready to Occupy Flat for sale in Virat A...,Creatively planned and constructed is a 1 BHK ...,4500000.0,6618.0,thane,Ready to Move,2 out of 7,Resale,Unfurnished,1,1,Co-operative Society

In [111]:
df['sqft'] = df['Amount(in rupees)']/df['Price (in rupees)']

In [112]:
df.head()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Status,Floor,Transaction,Furnishing,Bathroom,Balcony,Ownership,sqft
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",4200000.0,6000.0,thane,Ready to Move,10 out of 11,Resale,Unfurnished,1,2,NaN,700.000000
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,9800000.0,13799.0,thane,Ready to Move,3 out of 22,Resale,Semi-Furnished,2,NaN,Freehold,710.196391
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,14000000.0,17500.0,thane,Ready to Move,10 out of 29,Resale,Unfurnished,2,NaN,Freehold,800.000000
3,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",16000000.0,18824.0,thane,Ready to Move,20 out of 42,Resale,Unfurnished,2,NaN,Co-operative Society,849.978751
4,5,1 BHK Ready to Occupy Flat for sale in Virat A...,Creatively planned and constructed is a 1 BHK ...,4500000.0,6618.0,thane,Ready to Move,2 out of 7,Resale,Unfurnished,1,1,Co-operative Society,679.963735

In [113]:
df['Floor'] = df['Floor'].str.split(' ').str.get(0)

In [114]:
df['Floor'] = df['Floor'].replace('Ground', '0')

In [115]:
df['Floor'] = df['Floor'].replace('Upper', '1')
df['Floor'] = df['Floor'].replace('Lower', '0')

In [116]:
df['Floor'] = df['Floor'].fillna(df['Floor'].median())

In [117]:
df['Floor'].isna().sum()

0

In [118]:
df['Floor'] = df['Floor'].astype(int)

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169866 entries, 0 to 169865
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              169866 non-null  int64
 1   Title              169866 non-null  object
 2   Description        166983 non-null  object
 3   Amount(in rupees)  169866 non-null  float64
 4   Price (in rupees)  169866 non-null  float64
 5   location           169866 non-null  object
 6   Status             169271 non-null  object
 7   Floor              169866 non-null  int32
 8   Transaction        169860 non-null  object
 9   Furnishing         167806 non-null  object
 10  Bathroom           169112 non-null  object
 11  Balcony            124804 non-null  object
 12  Ownership          111629 non-null  object
 13  sqft               169866 non-null  float64
dtypes: float64(3), int32(1), int64(1), object(9)
memory usage: 18.8+ MB

In [120]:
df = df.drop(['Index','Price (in rupees)'],axis=1)

In [121]:
df = df.drop('Description',axis=1)

In [122]:
df = df.drop('Ownership',axis=1)

In [123]:
df['Balcony'].isna().sum()

45062

In [124]:
df = df.drop('Balcony',axis=1)

In [125]:
df['Transaction'] = df['Transaction'].fillna(df['Transaction'].mode()[0])

In [126]:
df['Transaction'].isna().sum()

0

In [127]:
df['Status'].isna().sum()

595

In [128]:
df['Status'] = df['Status'].fillna(df['Status'].mode()[0])

In [129]:
df = df.drop('Status',axis =1)

In [130]:
df['Furnishing'] = df['Furnishing'].fillna(df['Furnishing'].mode()[0])

In [131]:
df['Bathroom'] = df['Bathroom'].fillna(df['Bathroom'].mode()[0])

In [132]:
df['Transaction'].value_counts()

Resale          129339
New Property     40521
Other                4
Rent/Lease           2
Name: Transaction, dtype: int64

In [133]:
from sklearn.preprocessing import OneHotEncoder

In [134]:
encoded_colors = pd.get_dummies(df['Transaction'])

In [135]:
df = pd.concat([df, encoded_colors], axis=1)

In [136]:
df.head()

,Title,Amount(in rupees),location,Floor,Transaction,Furnishing,Bathroom,sqft,New Property,Other,Rent/Lease,Resale
0,1 BHK Ready to Occupy Flat for sale in Srushti...,4200000.0,thane,10,Resale,Unfurnished,1,700.000000,0,0,0,1
1,2 BHK Ready to Occupy Flat for sale in Dosti V...,9800000.0,thane,3,Resale,Semi-Furnished,2,710.196391,0,0,0,1
2,2 BHK Ready to Occupy Flat for sale in Sunrise...,14000000.0,thane,10,Resale,Unfurnished,2,800.000000,0,0,0,1
3,2 BHK Ready to Occupy Flat for sale in TenX Ha...,16000000.0,thane,20,Resale,Unfurnished,2,849.978751,0,0,0,1
4,1 BHK Ready to Occupy Flat for sale in Virat A...,4500000.0,thane,2,Resale,Unfurnished,1,679.963735,0,0,0,1

In [137]:
df = df.drop('Transaction',axis=1)

In [138]:
counts = df['Title'].value_counts()

In [139]:
counts_10 = counts[counts<=10]

In [140]:
counts_10

2 BHK Ready to Occupy Flat for sale in Mangalya Ophira Greater Noida West                10
4 BHK Ready to Occupy Flat for sale in Orchid Legacy Sardar Patel Ring Road              10
2 BHK Ready to Occupy Flat for sale Pragathi Nagar, Kukatpally                           10
3 BHK Ready to Occupy Flat for sale in Raj Grandeur Powai                                10
1 BHK Ready to Occupy Flat for sale Kharwai Naka                                         10
                                                                                         ..
2 BHK Ready to Occupy Flat for sale in DDA Flats Katwaria Sarai                           1
3 BHK Ready to Occupy Flat for sale in Greater Kailash Builder Floors Greater Kailash     1
3 BHK Ready to Occupy Flat for sale in Himachali Apartment Dwarka Sector 3                1
3 BHK Ready to Occupy Flat for sale Matiala                                               1
2 BHK Ready to Occupy Flat for sale in Friends Enclave Kishanpura                         1
Name: Title, Length: 28845, dtype: int64

In [141]:
df['Title'] = df['Title'].apply(lambda x: 'other' if x in counts_10 else x)

In [142]:
counts_1  = df['Title'].value_counts()

In [143]:
counts_15 = counts_1[counts_1<=15]

In [144]:
counts_15

3 BHK Ready to Occupy Flat for sale Thiruvanmiyur                                15
3 BHK Ready to Occupy Flat for sale in Sikka Kaamya Greens Greater Noida West    15
3 BHK Ready to Occupy Flat for sale Marine Drive                                 15
3 BHK Ready to Occupy Flat for sale Mango                                        15
2 BHK Ready to Occupy Flat for sale Mansarovar                                   15
                                                                                 ..
3 BHK Ready to Occupy Flat for sale Nageshwar Colony                             11
2 BHK Ready to Occupy Flat for sale Bailey Road                                  11
2 BHK Ready to Occupy Flat for sale in Oakfields Apparatus Patancheruvu          11
3 BHK Ready to Occupy Flat for sale Madhapur                                     11
2 BHK Ready to Occupy Flat for sale Rajarhat Main Road                           11
Name: Title, Length: 285, dtype: int64

In [145]:
df['Title'] = df['Title'].apply(lambda x: 'other' if x in counts_15 else x)

In [146]:
df['Title'].value_counts()

other                                                                          54642
2 BHK Ready to Occupy Flat for sale in Divyasree Elan Sarjapur Road             2106
4 BHK Ready to Occupy Flat for sale in Hamdam Apartment Dwarka Sector 18        1647
3 BHK Ready to Occupy Flat for sale Jagatpur                                     986
3 BHK Ready to Occupy Flat for sale in Nebula Tower Bodakdev                     981
                                                                               ...
1 BHK Ready to Occupy Flat for sale Katrap                                        16
4 BHK Ready to Occupy Flat for sale in Bptp Eden Estate Sector 81 Sector 81       16
2 BHK Ready to Occupy Flat for sale Pal Gam                                       16
1 BHK Ready to Occupy Flat for sale in Krish Aura Alwar Bypass Road               16
3 BHK Ready to Occupy Flat for sale Sector 88                                     16
Name: Title, Length: 550, dtype: int64

In [147]:
df['location'].value_counts()

new-delhi      24849
bangalore      23168
kolkata        19562
gurgaon        18238
ahmedabad      12178
               ...
nellore           28
pondicherry       27
palakkad          27
navsari           26
madurai           21
Name: location, Length: 81, dtype: int64

In [148]:
fur_dict = {'Furnished': 2, 'Semi-Furnished': 1, 'Unfurnished': 0}
df['Funrnishing_enc'] = df['Furnishing'].map(fur_dict)

In [149]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()

In [150]:
df['Funrnishing_enc'] = oe.fit_transform(df[['Funrnishing_enc']])

In [151]:
df = df.drop(columns=['Furnishing'])

In [152]:
df.sample(5)

,Title,Amount(in rupees),location,Floor,Bathroom,sqft,New Property,Other,Rent/Lease,Resale,Funrnishing_enc
40141,other,5500000.0,chennai,4,2,941.942113,0,0,0,1,2.0
153707,other,10000000.0,kozhikode,1,3,1399.972001,1,0,0,0,2.0
123042,3 BHK Ready to Occupy Flat for sale Punjabi Ba...,25000000.0,new-delhi,2,3,1849.933402,0,0,0,1,0.0
63019,3 BHK Ready to Occupy Flat for sale in Ashiana...,10400000.0,gurgaon,3,3,1719.861088,1,0,0,0,0.0
51480,4 BHK Ready to Occupy Flat for sale in La Lagu...,70000000.0,gurgaon,15,5,3159.985554,0,0,0,1,0.0

In [153]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169866 entries, 0 to 169865
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Title              169866 non-null  object
 1   Amount(in rupees)  169866 non-null  float64
 2   location           169866 non-null  object
 3   Floor              169866 non-null  int32
 4   Bathroom           169866 non-null  object
 5   sqft               169866 non-null  float64
 6   New Property       169866 non-null  uint8
 7   Other              169866 non-null  uint8
 8   Rent/Lease         169866 non-null  uint8
 9   Resale             169866 non-null  uint8
 10  Funrnishing_enc    169866 non-null  float64
dtypes: float64(3), int32(1), object(3), uint8(4)
memory usage: 10.4+ MB

In [154]:
df['Bathroom'] = df['Bathroom'].replace('> 10','10')

In [155]:
df['Bathroom'] = df['Bathroom'].astype(int)

In [156]:
df.describe()

,Amount(in rupees),Floor,Bathroom,sqft,New Property,Other,Rent/Lease,Resale,Funrnishing_enc
count,1.698660e+05,169866.000000,169866.000000,1.698660e+05,169866.000000,169866.000000,169866.000000,169866.000000,169866.000000
mean,1.198659e+07,4.502961,2.444391,inf,0.238547,0.000024,0.000012,0.761418,0.691675
std,4.025091e+07,4.645253,0.847787,NaN,0.426196,0.004853,0.003431,0.426218,0.651429
min,1.000000e+05,0.000000,1.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000e+06,2.000000,2.000000,1.015625e+03,0.000000,0.000000,0.000000,1.000000,0.000000
50%,7.800000e+06,3.000000,2.000000,1.322857e+03,0.000000,0.000000,0.000000,1.000000,1.000000
75%,1.450000e+07,6.000000,3.000000,1.799949e+03,0.000000,0.000000,0.000000,1.000000,1.000000
max,1.400300e+10,200.000000,10.000000,inf,1.000000,1.000000,1.000000,1.000000,2.000000

In [157]:
upper_limit = df['Amount(in rupees)'].quantile(0.99)
lower_limit = df['Amount(in rupees)'].quantile(0.01)
df = df[(df['Amount(in rupees)'] <= upper_limit) & (df['Amount(in rupees)'] >= lower_limit)]

In [158]:
upper_limit1 = df['sqft'].quantile(0.99)
lower_limit1 = df['sqft'].quantile(0.01)
df = df[(df['sqft'] <= upper_limit1) & (df['sqft'] >= lower_limit1)]

In [159]:
df.describe()

,Amount(in rupees),Floor,Bathroom,sqft,New Property,Other,Rent/Lease,Resale,Funrnishing_enc
count,1.647390e+05,164739.000000,164739.000000,164739.000000,164739.000000,164739.000000,164739.000000,164739.000000,164739.000000
mean,1.106358e+07,4.469640,2.428818,1418.679339,0.237333,0.000024,0.000012,0.762631,0.688119
std,9.809318e+06,4.541384,0.784483,588.669806,0.425449,0.004928,0.003484,0.425472,0.645770
min,1.600000e+06,0.000000,1.000000,405.007364,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000e+06,2.000000,2.000000,1034.965035,0.000000,0.000000,0.000000,1.000000,0.000000
50%,7.800000e+06,3.000000,2.000000,1319.986800,0.000000,0.000000,0.000000,1.000000,1.000000
75%,1.400000e+07,5.000000,3.000000,1799.943752,0.000000,0.000000,0.000000,1.000000,1.000000
max,7.000000e+07,60.000000,10.000000,3599.855282,1.000000,1.000000,1.000000,1.000000,2.000000

In [160]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [161]:
X = df.drop(columns=['Amount(in rupees)'])
y = df['Amount(in rupees)']

In [162]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=20)

In [163]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False),['Title','location']),remainder='passthrough')

In [164]:
scaler = StandardScaler()

In [165]:
lr =LinearRegression()

In [166]:
pipe =make_pipeline(column_trans,scaler,lr)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164739 entries, 0 to 169865
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Title              164739 non-null  object
 1   Amount(in rupees)  164739 non-null  float64
 2   location           164739 non-null  object
 3   Floor              164739 non-null  int32
 4   Bathroom           164739 non-null  int32
 5   sqft               164739 non-null  float64
 6   New Property       164739 non-null  uint8
 7   Other              164739 non-null  uint8
 8   Rent/Lease         164739 non-null  uint8
 9   Resale             164739 non-null  uint8
 10  Funrnishing_enc    164739 non-null  float64
dtypes: float64(3), int32(2), object(2), uint8(4)
memory usage: 9.4+ MB

In [75]:
pipe.fit(X_train,y_train)

C:\Users\soumya sharma\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['Title', 'location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [76]:
y_pred_lr = pipe.predict(X_test)

In [77]:
r2_score(y_test,y_pred_lr)

0.920700574719678

In [78]:
lasso = Lasso()

In [79]:
pipe1 = make_pipeline(column_trans,scaler,lasso)

In [80]:
pipe1.fit(X_train,y_train)

C:\Users\soumya sharma\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\soumya sharma\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.724e+17, tolerance: 1.274e+15
  model = cd_fast.enet_coordinate_descent(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['Title', 'location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [81]:
y_pred_lasso = pipe1.predict(X_test)

In [82]:
r2_score(y_test, y_pred_lasso)

0.9207030264423955

In [83]:
rid = Ridge()

In [84]:
pipe2 = make_pipeline(column_trans,scaler,lasso)

In [85]:
pipe2.fit(X_train,y_train)

C:\Users\soumya sharma\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\soumya sharma\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.724e+17, tolerance: 1.274e+15
  model = cd_fast.enet_coordinate_descent(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['Title', 'location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [90]:
y_pred_rid = pipe2.predict(X_test)

In [91]:
r2_score(y_test,y_pred_rid)

0.9207030264423955

In [171]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
dt= DecisionTreeRegressor()
rf =RandomForestRegressor()

In [172]:
pipe3 = make_pipeline(column_trans,scaler,dt)
pipe3.fit(X_train,y_train)
y_pred_dt = pipe3.predict(X_test)
r2_score(y_test,y_pred_dt)

C:\Users\soumya sharma\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.9203556394472608

In [173]:
pipe4 = make_pipeline(column_trans,scaler,rf)
pipe4.fit(X_train,y_train)
y_pred_rf = pipe4.predict(X_test)
r2_score(y_test,y_pred_rf)

C:\Users\soumya sharma\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.951797757750768